# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = medscraper.settings

[deploy]
url = http://localhost:6800/
username = admin
password = medium_admin
project = medscraper